:root {
  --dark: #28282B;
  --light: #fff;

  --brown-light: #a67b5b;
  --brown-ver1: #4b3621;
  --brown-ver2: #6f4e37;
  --brown-ver3: #382206;

  --fs-xxxl: 2.6rem; 
  --fs-xxl: 2.2rem; 
  --fs-xl: 1.75rem; 
  --fs-l: 1.6rem;
  --fs-m: 1.4rem;
  --fs-s: 1.14rem;  
  --fs-xs: .975rem;  
  --fs-xxs: 0.875rem;
  --fs-xxxs: 0.75rem;

  --primary-font: 'Poppins', sans-serif;
  --trans-duration-default: .27s;

  /* Box shadows acting as thin borders */
  --shadow-default: rgba(0, 0, 0, 0.068) 0px 2px 3px 0px, rgba(0, 0, 0, 0.408) 0px 0px 0px .06rem;
  --shadow-hover: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0, 0, 0, 0.312);
  --shadow-material: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--primary-font);
  color: var(--brown-ver1);
}

a {
    text-decoration: none;
    color: inherit;
}

/* Temporary */
@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.flash-message {
  animation: fadeInOut 4s ease-in-out forwards;
  padding: 5px 10px;
  border-radius: 4px;
  color: #fff;
  width: fit-content;
  position: fixed;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
}

.flash-message.flash-success {
  background-color: #4CAF50;
}

.flash-message.flash-warning {
  background-color: #f39c12;
}
